.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}


.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    /* font-variation-settings:
    "wdth" 100; */
}

/* shared style */

.flex {
    display: flex;
}


.orange {
    color: #E95A08;
}

.section-title {
    font-size: 3.125rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;

}

.grey {
    color: rgba(0, 0, 0, 0.5);
}


.section-description {
    font-weight: 400;
    font-size: 1.372rem;
    color: rgba(0, 0, 0, 0.5);
    max-width: 888px;
    text-align: center;
    margin: 0 auto;

}

.btn-primary {
    background-color: #E95A08;
    border: none;
    color: white;
    padding: 20px 80px;
    width: 270px;
}

/* header */

/* nav */
.nav {

    /* justify-content: center; */
    margin: 24px 150px;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-right: 48px;
}

.nav-item {
    list-style: none;
}

.nav-item>a {
    text-decoration: none;
    color: #8987A1;

}

#home {
    color: #252432;
}

/* banner */

.banner {
    max-width: 1140px;
    justify-content: center;
    align-items: center;

    margin: 120px auto;
}

.banner-title {
    font-weight: bold;
    font-size: 4rem;
}

.banner-description {
    font-size: 1.375rem;
}

.banner-img,
.banner-column {
    width: 100%;
}


/* our-plants */
.img-container {
    margin: 0 auto;
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.plant-intro {
    margin-bottom: 50px;
}

.product-sample>h4 {
    font-weight: 500;
    font-size: 1.375rem;
    text-align: center;
}

.product-sample {
    margin-bottom: 30px;
}

.price {
    font-weight: 700;
}


/* lover section */

.lover-section {
    max-width: 1140px;
    margin: 0 auto;
    gap: 100px;
    margin-top: 200px;

}


.img-column>img {
    /* width: 100%; */
}

.description-column {
    width: 540px;
    height: 100vh;
    flex-direction: column;
margin-top: 20px;
}

.description-column>section-title {
    /* text-align: left; */
    
}

.lover-img-2 {
    position: absolute;
}

.lover-img-2 {
    z-index: 1;
    position: absolute;
    height: 286px;
    width: 286px;
    margin-top: -136px;
    margin-left: 347px;
}

.indulge {
    flex-direction: column;
    gap: 20px;
    /* font-size: 1.5rem; */
    /* text-align: left; */
}

.lover-title {
    font-size: 3.125rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 16px;

}
.lover-description {

    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    margin: 0 auto;
    margin-top: 10px;

}


@media screen and (max-width:576px) {

    .nav {
        justify-content: center;
        align-items: center;
        /* max-width: 361px; */
        width: 100%;
        margin: 0 auto;
        /* gap: 120px; */
        /* margin: 13px 16px; */
    }

    .hide {
        display: none;
    }

    .nav-item>div {
        min-width: 110px;
    }

    .banner {
        flex-direction: column;
    }

    #col-2 {
        order: 1;
    }

    #col-1 {
        order: 2;
    }

    .section-title,
    .section-description {
        /* text-align: center; */
    }

    .product-sample {
        width: 171px;
    }

    .img-container {
        /* width: 362px; */
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 0 auto;
    }

    .img-container>h4 {
        text-align: center;
    }

    .product-img {
        height: 196px;
        width: 171px;
    }

    .btn-primary {
        width: 171px;
        padding: 20px 30px;
    }
}